.page-wrap {
    width: 50%;
    margin-left: 80px auto;
}

.navbar.navbar-inverse.navbar-fixed-top { 
opacity: 0.9; 
}

.nav.navbar-nav li a {
   color: #FF00FF !important;
 }

.nav.navbar-nav a:hover {
 color: grey !important;
}

.navbar-inverse .navbar-header .navbar-brand {
	color: #FF1493;
}

.navbar-inverse .navbar-header .navbar-brand:hover {
	color: white;
}

.dropdown .dropdown-menu {
	background: black;
	
}

body { 
	padding-top: 55px; 
	background-image: url(bcgr.jpg);
    background-position: center center;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.ff {
	background: rgba(255,0,255,0.01);
	
}

#ffid {
	background: rgba(148,0,211,0.4);
	color: black;
}

.imp {
	margin-left: 20px;
	
}

@media (max-width: 767px) {
			body {
				background-image: url(scale.jpg);
			}

	}
